# Question 1.1

In [36]:
def myreduce(function, data):            #creating a function 
    r = data[0]                          #assigning first value of the list to the result 
    for val in data[1:]:                 # iterating the values 
        r = function(r, val)             # Applying the desired function repeatedly for remaining values
    return r

In [39]:
myreduce(lambda a,b:(b*a)/2,[3,7,15,48])   #Implementing the myreduce() function

1890.0

# Question 1.2

In [11]:
def myfilter(function, data):    
    x = []                           # Creating an empty list
    for val in data:                 # using loop for Iterating the data
        if function(val)==True:      # Checking the condition that the function should return True
            x.append(val)            # using append to store the values which satisfy the condition 
    return x                         # Returning the list as output

In [29]:
# Creating a function to check even values,I'll use check_even function with the myfilter() function

def check_even(n):
    if n%2==0:  # Checking the condition 
        return True
    else: 
        return False

In [31]:
check_even(7)  # passing the value to the function

False

In [32]:
myfilter(check_even,[12,3,7,9,1,54,23,73,5]) # Implementing the myfilter() function to filter all odd values

[12, 54]

# Question 2

In [46]:
## List 1
word='ACADGILD'
l=[w for w in word]   
l #output

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [45]:
## List 2
word2='xyz'
l2=[i*j for i in word2 for j in range(1,5) ]  
l2 #output

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [44]:
## List 3
word3='xyz'
l3=[i*j for j in range(1,5) for i in word3 ]  
l3 #output

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [43]:
## List 4
data=[2,3,4]
l4=[[i+j] for i in data for j in range(0,3)]  
l4 #output

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [41]:
## List 5
d5=[2,3,4,5]
l5=[[i+j for i in d5] for j in range(0,4)]  
l5 #output

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [42]:
## List 6
dat=[1,2,3]
l6=[(i,j) for j in dat for i in dat] 
l6 #output

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]